.webstartup-toolbar toolbarbutton.ws-normaltb{font-size:12px;font-family:arial;margin-left:1px;margin-right:1px;}
.webstartup-toolbar toolbarbutton.ws-firsttb{font-size:12px;font-family:arial;margin-left:0px;}
.webstartup-toolbar label.ws-label{font-weight:bold;font-size:12px;font-family:arial;margin-top:6px;margin-left:3px;margin-right:0px;}
.webstartup-toolbar toolbarbutton.ws-review{font-size:12px;font-family:arial;margin-left:0px;font-weight:100;margin-right:0px;}
